<article class='blog'>
  <div class='whole-blog'>
    <div class='info-section'>
      <div class='blog-name'>
        <a href='/blog/{{id}}' class='links'>{{title}}</a>
      </div>
      <div class='created-by'>
        <p id='comment-subtitle'>
          Created by
          <b>{{usertech.username}} </b>
          on
          <b>{{formatDate date_created}}</b>
        </p>
      </div>
    </div>
    <div class='content-section'>
      <p>{{description}}</p>
    </div>
  </div>
</article>