<section class='new-blog-section'>
  <a href='/new'>
    <button type='submit' class='btn' id='add-new-blog'>+ Add new blog</button>
  </a>
</section>

{{#if blogteches.length}}
  <section>
    <h2>Dashboard</h2>
    <ul class='blog-list'>
      {{#each blogteches as |blog|}}
        <li>
          <article class='post'>
            <div class='netire-blog'>
              <div class='info-section'>
                <div class='blog-name'>
                  <a href='/blog/{{blog.id}}' class='links'>{{blog.title}}</a>
                </div>
                <div class='created-by'>
                  <p id='comment-subtitle'>
                    Posted by
                    <b>{{username}} </b>
                    on
                    <b>{{formatDate blog.date_created}}</b>
                  </p>
                </div>
              </div>
              <div class='content-section'>
                <p>{{blog.description}}</p>
              </div>
            </div>
          </article>
          <br />
          {{!-- {{blog.title}} --}}
          <a href='/dashboard/edit/{{blog.id}}' class='edit-link'>Edit Blog</a>
        </li>
      {{/each}}
    </ul>
  </section>
{{/if}}

<script src='/js/createBlog.js'></script>