<ul class='blog-list'>
  {{#each blogs as |blog|}}
    <li>
      <article class='blog'>
        <div class='entire-blog'>
          <div class='info'>
            <div class='blog-name'>
              <a href='/blog/{{blog.id}}' class='links'>{{blog.title}}</a>
            </div>
            <div class='created-by'>
              <p id='comment-subtitle'>
                Posted by
                <b>{{blog.user.username}} </b>
                on
                <b>{{formatDate blog.date_created}}</b>
              </p>
            </div>
          </div>
          <div class='content-div'>
            <p>{{blog.description}}</p>
          </div>
        </div>
      </article>
      {{!-- {{blog.title}} --}}
    </li>
  {{/each}}
</ul>

{{! <divclass="row mb-4 project">
  <h1>Hello</h1>
</div> }}